body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 176, 224);
    height: 100%;
    width: 100%;
}
    text-align: center;
    font-size: 60px;
}


#wts{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    width : 100%;
    margin-top : 20px;
    margin-bottom : 20px;
}



#hgt{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    width : 100%;
    margin-top : 20px;
    margin-bottom : 20px;
}

select{
    font-size: 15px;
    background-color: rgba(82, 141, 170, 0.986);
}

.input{
    font-size: large;
    background-color: rgba(82, 141, 170, 0.986);
    border: none;
    border-radius: 5px;
    color: rgb(226, 231, 235)
}

input{
    border: none;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#wt,#ht{
    margin-right: 30px;
}

#wt-unit,#ht-unit{
    font-size: large;
    background-color: rgba(82, 141, 170, 0.986);
    border: none;
    border-radius: 5px;
}
